/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
    overflow-y: auto;
}

/* Initial menu */
.menu {
  background: white url(blue-thread.png) repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
overflow-y: auto;
}

/* Basic styling */

.jumbotron {
  background-image: url(black-thread.png); 
    background-repeat: repeat;
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;*/
    overflow-y: auto;
    overflow-x: auto;
}
.jumbotron1 {
  background-image: url(background-img/students.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: repeat;
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;*/
    overflow-y: auto;
    overflow-x: auto;
    
}
#submenu2 ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

#submenu2 li {
    
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-top: 1px;
list-style:none;
}
#submenu2 a {
      color:white;
  font-size: 15px;
  /*text-decoration: none;*/
}
}
#div-one {
    font-size: 10px;
}
#div-two {
    font-size: 10px;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
/*  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-top: 1px;
list-style:none;*/
    text-shadow: 2px 2px 9px;
}
#sub {
    font-size: 12;
}
.menu a {
  color:white;
  font-size: 15px;
  /*text-decoration: none;*/
  text-transform: uppercase;
}


.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
}

.icon-menu {
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
    width: 250px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

#current {
    
    font-weight: bold;
    color:darkred;
    /*font-style: italic;
    font-size: 17px;*/
}

#current2 {
    border-top: 1px solid;
    border-bottom: 2px solid;
    background-image: url(gold-thread.png);
        color:darkred;
    font-weight: bold;
    border-color: black;
}

.current3 {
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-image: url(gold-thread.png);
        color:darkred;
    font-weight: bold;
    border-color: black;
    text-indent: 10px;
}
.title {
    font-size: 20;
    text-align: center;
    color:red;
    margin-top: 10;
    float: none;
    margin-bottom: -40;
}
/*
#Searchbar {
    background-color: white;
    width: 200;
    border-radius: 10px;
    float: right;
    margin-top: -100;
    margin-right: 300;
}*/
#submit {
    width: 50;
    /*border-radius: 1px;*/
    background-color: powderblue;
}
#searchbar {
    margin-top: -100;
    margin-right: 300;
    float: right;
    box-shadow: 1px 2px 8px;
}
.main {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 500px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    align-content: center;
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
    border-color: black;
    color: black;
}

.left {
    float: left;
}

.logo {
    height: 50px;
    margin-left: 50;
    margin-top: 10;
    border-radius: 50px;
    margin-bottom: 20;
    
}
.logo2 {
    margin-top: -10; 
    margin-bottom: 10; 
    margin-left: 50; 
    height: 90; 
    border-radius: 10px; 
    /*border: 1px solid*/
    /*background-color: black;
    opacity: 0.4;*/
    width: 171;
    text-align: center;
    color: azure;
}
.logo3 {
    margin-top: 10; 
    margin-bottom: 10; 
    margin-left: 10; 
    height: 90; 
    border-radius: 10px; 
    border: 1px solid; 
    background-color: white; 
    width: 171;
    text-align: center;
}
.right {
    float: right;
    color: black;
    margin-right: 50;
    margin-top: 40;
    background: rgba(0, 0, 0, 0.);
    text-shadow: 2px 2px 10px;
}
.row {
    width: 100%;
    text-align: center;
}

.block {
    width: 220px;
    display: inline-block;
    color: white;
    /*border: 1px solid;*/
    font-size: 15px;
    text-align: center;
    
}

.currentblock {
    width: 220px;
    display: inline-block;
    color:white;

    font-size: 15px;
    text-align: center;
    background-color: blue;

}

.visitedblock {
    width: 220px;
    display: inline-block;
    color:white;

    font-size: 15px;
    text-align: center;
    background-color:cornflowerblue;
}


#menu {
    background-color:aqua;

}
.text1 {
    margin-left: 20;
    height: 50px;
    display: inline-block;
    float: right;
}
#top {
    background-color: white;
    height: 10px;

}
#submenu {
    border-right: 1px solid;
    height: 269;
    width: 140;
    margin-top: -20;
    margin-left: -20;
    background-color: cadetblue;
}

#submenu2 {
    border-right: 2px solid;
    height: 290;
    width: 140;
    margin-top: -20;
    margin-left: -20;
    /*background-color: aqua;*/
    float: left;
}

#submenu3 {
    height: 290;
    width: 335;
    margin-left: 122;
    margin-top: -36;
    /*background-color:azure;*/
    color:white;
}

#sidebar1 {
    height: 290;
    width: 220;
    margin-top: -290;
    margin-right:0;
    float: right;
    /*background-color: beige;*/
    border-left: 2px solid;
    border-color: black;
    color: white;
}
#content-two{
    display:none;
}
#content-three{
    display:none;
}
.main1 {
    margin-left: 50;
    margin-right: 50;
    margin-bottom: 10px;
    margin-top: 10;
    height: 250px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    align-content: center;
    background-color: white;
    opacity: 0.75;
    border-radius: 50px;
    border-color:blue;
    color: black;
}

.main2 {
    margin-left: 50;
    margin-right: 50;
    margin-bottom: 10px;
    margin-top: 10;
    height: 270px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    align-content: center;
    background-color: white;
    opacity: 0.8;
    border: 2px solid;
    border-radius:10px;
    border-color:black;
    color: black;
    background: rgba(0, 0, 0, 0.3)
}

.main3 {
    margin-left: 50;
    margin-right: 50;
    margin-bottom: 10px;
    margin-top: 10;
    height: 270px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    align-content: center;
    background-color: white;
    opacity: 0.8;
    border: 2px solid;
    border-radius:10px;
    border-color:black;
    color: black;
    background: rgba(0, 0, 0, 0.3)
}


#footer {
    font-size: 12px;
    color: black;
    border: 1px solid;
    /*width: 700;*/
    margin-top: 700;
    border-radius: 10px;
    margin-left: 50;
    margin-right: 50;
    margin-bottom: -100;
    height: 50;
    background-color: white;
    opacity: 0.8;
}



#introduction {
    text-transform: uppercase;
    opacity: 0.8;
    margin-left: 10px;
}
#who {
    color:dimgray;  
    margin-right: 10px;
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 20px;
}
#desc1 {
    margin-right: 40px;   
    margin-left: 10px;
    line-height: 1.9;
    text-indent: 40px;
    color:darkred;
}


a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
}

html {
	background: linear-gradient(gray, black);
}
.center {
	text-align: center;
	align-content: center;
	color: white;
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.semicenter {
	width: 600;
	height: 350;
	border: 1px solid;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	text-align: center;
	color: white;
	border-color: black;
}

.options {
	text-align: center;
	color: white;
}
a:hover{
	color: white;

}

a:visited {
	color: white;
}

a:active {
	color: white;
}

.center2 {
	text-align: center;
	align-content: center;
	color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -15;
	font-family: corbel;
}
footer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 75%);
	text-align: center; 
	align-content: center;
	bottom: 0;

		
}